.insta-post {
    display: flex;
    width: 100%;
    height: 60vh;
    flex-grow: 1;
    background: linear-gradient(0deg, #d89863 0%, rgba(206,183,159,1) 100%);
}
.insta {
    width: 35%;
    height: 100%;
    
    align-content: center;
    padding-left: 20px;
    color: #fff;
}
.insta > h1 {
    font-size: 50px;
    font-weight: 500;
}
.insta > a {
    text-decoration: none;
}
.insta > a > button {
    color: #333333;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: #d89863;
    border: 2px solid #9B9693;
}
.insta > a > button:hover {
    background-color: #CEB79F;
    color: #fff;
    cursor: pointer;
    
}
.post {
    display: flex;
    width: 65%;
    /* max-height: 100%; */
    flex-wrap: wrap;
    padding-left: 20px;
    justify-content: start;
    row-gap: 5px;
    column-gap: 5px;
    flex-grow: 1;
    background-color: transparent;
}
.p-img {
    position: relative;
    width: 24%;
    height: 49%; /* Removed fixed height */
    overflow: hidden;
}

.post > .p-img > a > img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
    object-position: center;
}
.post > .p-img > a > img:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.05);
}
.p-img > .icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-weight: 600;
    z-index: 9;
    font-size: 25px;
}

@media (max-width: 840px) {
    .insta-post {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
        height: auto;
    }
    .insta {
        width: 100%;
        min-height: 200px;
    }
    .post {
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }
    .p-img{
        height: auto;
    }
}
@media (max-width: 640px) {
    .p-img {
        width: 48%;
    }
}
